---
// src/layouts/Layout.astro
import { ViewTransitions } from 'astro:transitions';
import Navbar from '@components/Navbar';
import Footer from '@components/Footer';
import Banner from '@components/Banner';
import '@css/globals.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Somos una drogueria distribuidora de productos farmacéuticos, dispositivos médicos y productos sanitarios." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/img/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		<style>
			

			
		</style>
	</head>
	<body>
		<Banner />
		<Navbar client:load/>
		<main class="bg-six">
			<slot />
		</main>
		<Footer client:load />
	</body>
</html>